<html>
<body>
<h1>Device {{ device_id }} correctly removed.</h1>

Please remember to remove it from Alexa as well.
<br/>
You will be automatically redirected to the main page.
    <script>
        var timer = setTimeout(function() {
            window.location='/'
        }, 5000);
    </script>
</body>
</html>
