<html>
<body>
<h1>Device {{ device_id }} correctly subscribed.
You will be automatically redirected to the main page.
    <script>
        var timer = setTimeout(function() {
            window.location='/'
        }, 5000);
    </script>
</body>
</html>
